<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
</head>
<body>
    <header>
        <h2>Books registered</h2>
        <a th:href="@{/setBook}">Register a new book</a>
        <br/>
        <p th:text="${#request.getParameter('redirectMessage')}"></p>
    </header>
    <main>
        <table th:replace="fragments/commons :: ListOfActiveBooks(${activeBooks})"></table>
    </main>
    <footer>

    </footer>
</body>
</html>