<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons :: nomeDoFragment(param1)">

</head>
<body>
    fazer a listagem de livros
    <main>
        <form method="post" th:object="${book}" th:action="@{/saveBook}" enctype="multipart/form-data">
           Name: <input type="text" minlength="2" th:maxlength="50" th:required="required" name="name" th:field="*{name}"> <br/>
           Author: <input type="text" minlength="2" th:maxlength="50" th:required="required" name="author" th:field="*{author}"> <br/>
           Genre: <input type="text" minlength="2" th:maxlength="50" th:required="required" name="genre" th:field="*{genre}"> <br/>
           Publisher: <input type="text" minlength="2" th:maxlength="50" th:required="required" name="publisher" th:field="*{publisher}"> <br/>
           Year of Publishing: <input type="number" th:min="1450" th:max="2100" th:required="required" name="year" th:field="*{year}"> <br/>
           Number of Pages: <input type="number" th:min="1" th:max="1500" th:required="required" name="pageNumber" th:field="*{pageNumber}"> <br/>
           Book cover: <input type="file" th:required="required" name="file"> <br/>
           <button type="submit">save book</button>
        </form>
    </main>
    <footer>
    </footer>
</body>
</html>